* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
      max-width: 1200px;
      min-width: 650px;
      margin: 0 auto;
      padding: 20px;
  }

  .chart {
      display: grid;
      border: 2px solid #000;
      position: relative;
      overflow: hidden;
  }
  .chart-row {
    display: grid;
	  grid-template-columns: 50px 1fr;
	  background-color: #fff;
  }
  .chart-row:nth-child(odd) {
    background-color: #fff;
  }
  .chart-period {
    color:  #fff;
    background-color:  #181A7B !important;
    border-bottom: 2px solid #000;
    grid-template-columns: 50px repeat(14, 1fr);
  }
  .chart-lines {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    grid-template-columns: 50px repeat(14, 1fr);
  }
  .chart-period > span {
    text-align: center;
		font-size: 13px;
		align-self: center;
		font-weight: bold;
    padding: 15px 0;
  }
  .chart-lines > span {
    display: block;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
  }

  .chart-row-item {
    background-color:#fff;
    border: 1px solid  #000;
    border-top: 0;
    border-left: 0;
    padding: 20px 0;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
  }

  .chart-row-bars {
    list-style: none;
		display: grid;
		padding: 15px 0;
		margin: 0;
		grid-template-columns: repeat(14, 1fr);
		grid-gap: 10px 0;
		border-bottom: 1px solid  #000;
  }
  li {
    font-weight: 600;
		text-align: left;
		font-size: 12px;
		min-height: 12px;
		background-color: #fff;
		padding: 0px 8px;
		color: #fff;
		overflow: hidden;
		position: relative;
		cursor: pointer;
		border-radius: 15px;
  }
  .birth {
    border-radius: 15px;
    background-color:#0029F7;
    color: white;
    text-align: center;
    font-weight: 600;
    width: 100px;
  }
  .death {
    border-radius: 15px;
    background-color:#000;
    color: white;
    text-align: center;
    font-weight: 600;
    width: 100px;
  }

  .marriage {
    border-radius: 15px;
    background-color:#8762cd;
    color: white;
    text-align: center;
    font-weight: 600;
    width: 100px;
  }
  p {
    margin: 2px !important;
    padding: 2px !important;
  }
  ul .deaths-bg {
    background-color: #000;
  }
  ul .marriages-bg {
    background-color:#0029F7;
  }
  ul .births-bg {
    background-color:#0029F7;
  }
  ul .chart-li-mb-1 {
    grid-column: 2/2;
    max-width: 90%;
    margin-left: 3px;
  }
  ul .chart-li-mb-2 {
    grid-column: 3/14;
    margin-left: 25px;
    width: 105%;
  }
  ul .chart-li-mb-end {
    grid-column: 14/14;
    text-align: center;
  }
  ul .chart-li-md {
    grid-column: 1/14;
    width: 105%;
  }
  ul .chart-li-md-end {
    grid-column: 14/14;
    text-align: center;
  }
  ul .chart-li-mm-1 {
    grid-column: 2/2;
    background-color:#8762cd;
    max-width: 90%;
    margin-left: 3px;
  }
  ul .chart-li-mm-2 {
    grid-column: 3/14;
    background-color:#8762cd;
    margin-left: 25px;
    width: 105%;
  }
  ul .chart-li-mm-end {
    grid-column: 14/14;
    background-color:#8762cd;
    text-align: center;
  }
  ul .chart-li-qb {
    grid-column: 12/14;
    margin-left: 30px;
    width: 105%;
  }
  ul .chart-li-qb-before {
    grid-column: 2/12;
    opacity: .6;
    width: 110%;
    margin-left: 5px;
  }
  ul .chart-li-qb-end {
    grid-column: 14/14;
    text-align: center
  }
  ul .chart-li-qd {
    grid-column: 12/14;
    margin-left: 30px;
    width: 105%;
  }
  ul .chart-li-qd-end {
    grid-column: 14/14;
    text-align: center;
  }
  ul .chart-li-qm {
    grid-column: 12/14;
    background-color:#8762cd;
    margin-left: 30px;
    width: 105%;
  }
  ul .chart-li-qm-end {
    grid-column: 14/14;
    background-color:#8762cd;
    text-align: center;
  }
  ul .chart-li-kb-before {
    grid-column: 2/4;
    opacity: .6;
    margin-left: 8px;
    width: 72%;
  }
  ul .chart-li-kb {
    grid-column: 6/14;
    width: 105%;
  }
  ul .chart-li-kb-end {
    grid-column: 14/14;
    text-align: center;
  }
  ul .chart-li-kd-1 {
    grid-column: 2/4;
    margin-left: 10px;
    max-width: 80%;
  }
  ul .chart-li-kd-2 {
    grid-column: 4/14;
    width: 105%;
  }
  ul .chart-li-kd-end {
    grid-column: 14/14;
    text-align: center;
  }
  ul .chart-li-rb-before {
    grid-column: 9/12;
    opacity: .6;
    width: 110%;
    margin-left: 5px;
  }
  ul .chart-li-rb {
    grid-column: 12/14;
    margin-left: 30px;
    width: 105%;
  }
  ul .chart-li-rb-end {
    grid-column: 14/14;
    text-align: center;
  }
  ul .chart-li-rd {
    grid-column: 12/14;
    margin-left: 30px;
    width: 105%;
  }
  ul .chart-li-rd-end {
    grid-column: 14/14;
    text-align: center;
  }
  ul .chart-li-rm {
    grid-column: 12/14;
    background-color:#8762cd;
    margin-left: 30px;
    width: 105%;
  }
  ul .chart-li-rm-end {
    grid-column: 14/14;
    background-color:#8762cd;
    text-align: center;
  }
  ul .chart-li-bb-morrisania {
    grid-column: 7/7;
    text-align: center;
    margin-left: 5px;
    width: 85%;
    opacity: .6;
  }
  ul .chart-li-bb-manhattan {
    grid-column: 8/12;
    opacity: .6;
    width: 130%;
    margin-left: -15px;
    padding-left: 20px;
  }
  ul .chart-li-bb-1 {
    grid-column: 12/14;
    margin-left: 30px;
    width: 105%;
  }
  ul .chart-li-bb-end {
    grid-column: 14/14;
    text-align: center;
  }
