* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
      max-width: 1200px;
      min-width: 650px;
      margin: 0 auto;
      padding: 50px;
  }

  .chart {
      display: grid;
      border: 2px solid #000;
      position: relative;
      overflow: hidden;
  }
  .chart-row {
    display: grid;
	  grid-template-columns: 50px 1fr;
	  background-color: #fff;
  }
  .chart-row:nth-child(odd) {
    background-color: #fff;
  }
  .chart-period {
    color:  #fff;
    background-color:  #181A7B !important;
    border-bottom: 2px solid #000;
    grid-template-columns: 50px repeat(12, 1fr);
  }
  .chart-lines {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    grid-template-columns: 50px repeat(12, 1fr);
  }
  .chart-period > span {
    text-align: center;
		font-size: 13px;
		align-self: center;
		font-weight: bold;
    padding: 15px 0;
  }
  .chart-lines > span {
    display: block;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
  }

  .chart-row-item {
    background-color:#fff;
    border: 1px solid  #000;
    border-top: 0;
    border-left: 0;
    padding: 20px 0;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
  }

  .chart-row-bars {
    list-style: none;
		display: grid;
		padding: 15px 0;
		margin: 0;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: 10px 0;
		border-bottom: 1px solid  #000;
  }
  li {
    font-weight: 600;
		text-align: left;
		font-size: 12px;
		min-height: 12px;
		background-color: #fff;
		padding: 0px 15px;
		color: #fff;
		overflow: hidden;
		position: relative;
		cursor: pointer;
		border-radius: 15px;
  }
  ul .chart-li-mb {
    grid-column: 1/12;
    background-color:#0029F7;
  }
  ul .chart-li-md {
    grid-column: 2/11;
    background-color: #000;
  }
  ul .chart-li-mm {
    grid-column: 2/7;
    background-color:#8762cd;
  }
  ul .chart-li-qb {
    grid-column: 3/5;
    background-color:#0029F7;
  }
  ul .chart-li-qd {
    grid-column: 3/9;
    background-color:#000;
  }
  ul .chart-li-qm {
    grid-column: 7/10;
    background-color:#8762cd;
  }
  ul .chart-li-kb {
    grid-column: 10/12;
    background-color:#0029F7;
  }
  ul .chart-li-kd {
    grid-column: 12/12;
    background-color:#000;
  }
  ul .chart-li-km {
    grid-column: 7/10;
    background-color:#8762cd;
  }
